@import "tailwindcss";
@import "tw-animate-css";
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  @keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
    }
  15%, 35% {
    transform: translateZ(0) rotate(90deg);
    }
  65%, 85% {
    transform: translateZ(0) rotate(270deg);
    }
  100% {
    transform: translateZ(0) rotate(360deg);
    }
  }
  --animate-orbit: orbit calc(var(--duration)*1s) linear infinite
;
  @keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));}
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));}}}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

@layer utilities {
  .rainbow-banner-gradient-1 {
    mask-image:
      linear-gradient(to bottom, white, transparent),
      radial-gradient(circle at top center, white, transparent);
    mask-composite: intersect;
    animation: moving-banner 16s linear infinite reverse;
    --start: rgba(0, 87, 255, 0.5);
    --mid: rgba(255, 0, 166, 0.77);
    --end: rgba(255, 77, 0, 0.4);
    --via: rgba(164, 255, 68, 0.4);
    background-image: repeating-linear-gradient(
      60deg,
      var(--end),
      var(--start) 2%,
      var(--start) 5%,
      transparent 8%,
      transparent 14%,
      var(--via) 18%,
      var(--via) 22%,
      var(--mid) 28%,
      var(--mid) 30%,
      var(--via) 34%,
      var(--via) 36%,
      transparent,
      var(--end) calc(50% - 12px)
    );
    background-size: 200% 100%;
    mix-blend-mode: difference;
  }

  .rainbow-banner-gradient-2 {
    mask-image:
      linear-gradient(to bottom, white, transparent),
      radial-gradient(circle at top center, white, transparent);
    mask-composite: intersect;
    animation: moving-banner 20s linear infinite;
    --start: rgba(255, 120, 120, 0.5);
    --mid: rgba(36, 188, 255, 0.4);
    --end: rgba(64, 0, 255, 0.51);
    --via: rgba(255, 89, 0, 0.56);
    background-image: repeating-linear-gradient(
      45deg,
      var(--end),
      var(--start) 4%,
      var(--start) 8%,
      transparent 9%,
      transparent 14%,
      var(--mid) 16%,
      var(--mid) 20%,
      transparent,
      var(--via) 36%,
      var(--via) 40%,
      transparent 42%,
      var(--end) 46%,
      var(--end) calc(50% - 16.8px)
    );
    background-size: 200% 100%;
    mix-blend-mode: color-dodge;
  }

  @keyframes moving-banner {
  from { background-position: 0 0; }
  to { background-position: 200% 0; }
  }
  .cpu-architecture {
    offset-anchor: 10px 0px;
    animation-name: cpu-animation-path;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.75, -0.01, 0, 0.99);
  }

  .cpu-line-1 {
    offset-path: path("M 10 20 h 79.5 q 5 0 5 5 v 30");
    animation-duration: 5s;
    animation-delay: 1s;
  }

  .cpu-line-2 {
    offset-path: path("M 180 10 h -69.7 q -5 0 -5 5 v 40");
    animation-delay: 6s;
    animation-duration: 2s;
  }

  .cpu-line-3 {
    offset-path: path("M 130 20 v 21.8 q 0 5 -5 5 h -25");
    animation-delay: 4s;
    animation-duration: 6s;
  }

  .cpu-line-4 {
    offset-path: path("M 170 80 v -21.8 q 0 -5 -5 -5 h -65");
    animation-delay: 3s;
    animation-duration: 3s;
  }

  .cpu-line-5 {
    offset-path: path("M 135 65 h 15 q 5 0 5 5 v 10 q 0 5 -5 5 h -39.8 q -5 0 -5 -5 v -35");
    animation-delay: 9s;
    animation-duration: 4s;
  }

  .cpu-line-6 {
    offset-path: path("M 94.8 95 v -46");
    animation-delay: 3s;
    animation-duration: 7s;
  }

  .cpu-line-7 {
    offset-path: path("M 88 88 v -15 q 0 -5 -5 -5 h -10 q -5 0 -5 -5 v -5 q 0 -5 5 -5 h 28");
    animation-delay: 4s;
    animation-duration: 4s;
  }

  .cpu-line-8 {
    offset-path: path("M 30 30 h 25 q 5 0 5 5 v 6.5 q 0 5 5 5 h 35");
    animation-delay: 3s;
    animation-duration: 3s;
  }

  @keyframes cpu-animation-path {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
  /* .shiki > div > button {
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  } */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }

  .shiki > div > button {
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}